@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 62.5%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 100%;
    background-color: rgb(143, 208, 238);
}
.container{
    background-color: white;
    border-radius: .5rem;
    max-width: 80rem;
    min-height: 50rem;
    width: 100%;
    height: 100%;
    padding: 2rem;
    text-transform: capitalize;
}
.dragArea{
border: 2px dashed dodgerblue;
border-radius: .5rem;
max-width: 80rem;
min-height: 50rem;
display: flex;
justify-content: center;
align-items: center;
}
.dragArea.active{
    border: 2px solid dodgerblue;
}
.dragArea.drop{
    border: 1px solid dodgerblue;
}
.dragArea img{
    max-width: 80rem;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: .5rem;
    aspect-ratio: 16/9;
    max-height: 60rem;
}
.drag_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.drag_icon i{
font-size: 4rem;
color: dodgerblue;
}
.text .text-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text-inner button{
    background-color: dodgerblue;
    padding: .2rem .5rem;
    border-radius: .4rem;
    color: white;
    font-weight: 500;
    border: none;
    font-size: 1.4rem;
    text-transform: capitalize;
    cursor: pointer;
    margin-top: 1rem;
    transition: .5s;
}
.explore:hover{
    padding: .2rem 2rem;
    }
.text-inner button i{
    margin-right: 0.4rem;
}
.text .text-inner h2{
font-size: 2rem;
color: rgb(46, 46, 46);
font-weight: 500;
}
.downloadBtn{
    /* height: 4rem; */
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.downloadBtn a{
    background-color: dodgerblue;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 3rem;
    font-weight: 600;
    align-items: center;
    border-radius: .4rem;
    color: white;
    font-size: 1.4rem;
    transition: .3s;
}
